<!DOCTYPE html>
<html lang="en"> 
<head>
   <!-- Prototipo tela inicial -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Vocacional - ITEMM</title>
    <link rel="shortcut icon" href="https://s3-alpha-sig.figma.com/img/2c33/a0f2/eb5f4a0a251eeccadb49f43de864a97c?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c7CI3r6lN0eelfUdhQqOCPyOAAY6YIHIUDXc~16dZGkUnaHR1B3vgUNx3IRNaO-cgfHz0qgUQD5HIfIYRDSJOjjXLz1HG5q8dg19cwav1Zu1CYtPPsp5-icit4XZrfjOpAdCTndxzBfMvv0zLAbWC2nxvEztx-kpfuGxlSpzb1ZBJTToanheaSAHuxoNyMyMMd6XZc8Pkn7WJrxSmIkTE6CEmrZk8~LJIpjuqO-lNcr7TYIBo5vo-S9BVOMY3tthB28auz0jMAvpi9aZllj0Ecq288ek6n2KGMQgpsSdlSW1tw1XPjldOluAIkwykRzMqpPEHJ6nIiZAZ1BAhUKK6g__" type="image/x-icon" />
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <!-- Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  />

<!-- CSS do projeto -->
   <link rel="stylesheet" href="style.css" />


   <!-- JavaScript Bootstrap -->
   <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
     crossorigin="anonymous"
   ></script>
</head>
<body style="background-color: #7FFFD4; padding: 40px;">
    <div class="container" id="featured-container" >
        <div class="row" > 
          <div class="col-4 pt-2 "  >
            
            <img decoding="async" width="198" height="207" src="https://s3-alpha-sig.figma.com/img/2c33/a0f2/eb5f4a0a251eeccadb49f43de864a97c?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c7CI3r6lN0eelfUdhQqOCPyOAAY6YIHIUDXc~16dZGkUnaHR1B3vgUNx3IRNaO-cgfHz0qgUQD5HIfIYRDSJOjjXLz1HG5q8dg19cwav1Zu1CYtPPsp5-icit4XZrfjOpAdCTndxzBfMvv0zLAbWC2nxvEztx-kpfuGxlSpzb1ZBJTToanheaSAHuxoNyMyMMd6XZc8Pkn7WJrxSmIkTE6CEmrZk8~LJIpjuqO-lNcr7TYIBo5vo-S9BVOMY3tthB28auz0jMAvpi9aZllj0Ecq288ek6n2KGMQgpsSdlSW1tw1XPjldOluAIkwykRzMqpPEHJ6nIiZAZ1BAhUKK6g__" class="attachment-large size-large wp-image-981" alt="">								</a>
            <h1 style="margin-top: 15PX;">TESTE VOCACIONAL</h1>
            <div class="pt-1">
              <p style="font-size: 14px; margin-right: 30px; text-align: justify;margin-top: 10px;" >A escolha profissional é uma decisão que percorre nossas vidas desde a infância, onde a missão em descobri-la causa um misto de sentimentos e dúvidas do: “E agora?”. 

                Com objetivo de auxiliar na busca desta missão, o Teste Vocacional do ITEMM irá trabalhar com sete habilidades intelectuais, baseado na teórica das inteligências múltiplas, onde irá contribuir com seu autoconhecimento e descoberta de seus maiores potenciais.</p>
              <button  type="button" class="btn btn-success" onclick="window.location.href = 'perguntas';">Teste Vocacional</button>
              <p style="margin-top: 15px;font-size: 14px; margin-right: 30px;">Agora tem mais chances de definir o curso que combina com seu jeito!</p>
              <p style="font-size: 14px;margin-right: 30px; ">Teste de Inteligências Múltiplas de Howard Gardner</p>
              
            </div>
          </div> 
          <div class="col-4 "  style="background-color: white; padding: 40px; ">
          <p> <strong> TESTE DE INTELIGÊNCIAS MÚLTIPLAS DE HOWARD GARDNER </strong>
    
            O Teste foi elaborado de acordo com os estudos do psicólogo educacional Howard Gardner, a partir da Teoria das Inteligências Múltiplas, onde busca identificar o seu perfil e te levar a refletir sobre os possíveis carreiras mais compatíveis com você, expandindo sua visão de futuro e possibilidades. 
            
            As formas de inteligências estudadas por Gardner são: Interpessoal; Lógico-Matemática; Intrapessoal; Linguística; Espacial; Musical e Corporal – Cinestésica.  </p>
            <p>
              <strong>FUNCIONAMENTO</strong>

              O teste obtém 35 perguntas baseados nas sete inteligências múltiplas de Gardner, onde você irá selecionar as opções de 0 (você menos se identifica) à 06 (se identifica completamente).  
              
              Ao finalizar, o teste proporcionará insights que irá auxiliar na busca de possíveis áreas profissionais que mais se identifiquem com seu perfil, além de explicar um pouquinho mais sobre a inteligência que mais se destaca em sua personalidade, baseado em suas respostas anteriormente. Por este motivo, é importante que você responda com atenção cada pergunta!</p>

              <div>
                <h2  style="margin-top:30px;" class="title primary-color">Perfil</h2>
              </div>
        </div>
       
        <div class="col-4 pt-3"  style="background-color: white; padding: 40px;">
          <img decoding="async" width="310" height="325" src="https://s3-alpha-sig.figma.com/img/427d/43a6/975522d50833fdae9376c302b64d9eda?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HZ5GWX5zNE-xbbxDHpgg19qDIg6VpSrJJkwwWG7A3Pjx5cBd1u97RGLnlGi5WQ-BgZmoY93m4f0eUMp5e0KmwUbZEsIbDdXWKXndOl2-n84m4DtMBvXoL0FmVDWR-5vAPLgIX24XtkC29eP4FzVWUtpdVxCspjwiuwmPwn4DSVf9AS2dxQ4NB~v0A7rUaCw8EGJ7k-2F8PwXtfs47srYDrHYpNrE-~yJfawnvKVz~WNyVP3Q7VbJ64fpDo19mIuUudQjL3Y75KRY9zWzd-qtsAZZt6DefoWV7L2dAU6MMsy3qO0YZ-rIGA8mK1hGnqhCynTcrWRRPdnGVf7oaMhHdA__" class="attachment-large size-large wp-image-981" alt="">								</a>
          
        </div>
      
        <div class="col-4 "style="background-color: #7FFFD4; padding: 20px;">
        
        </div>
        <div class="col-8" id="featured-images"  style="background-color: white; padding: 40px;">
          <div class="row g-4">
            
            <div class="col-8 col-md-3">
       

      
                  <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/93bc/ecce/fdfa7ad55b950be9398b527ecb065262?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Y7vhzXzVlRCWE67YVyFHJlgIOP4oDEuiprQ--JlEEuchsRx~vmMS18uyL8RKZbo-~dnc9Z7h2AWpnQTPYEOSscPlXGtvPDJHkcrR59Ewd6DI4LLTQti6aYEAGnbRMBH6pF7KW0bPws72HGsFW~9u~UWVBjkWRTN~iX6IZEDHibm4PEb0xRzNA7NAFENcfvwyvcRhndnc4xfION7iHL2ozZo3ZTQGry9rLjWxbiqbEkdbIkuCEHTAwXa6J46IHf-zFo9ZTkWvPvivrg7fTiGcY-mFBq9vALrsncmg28jR92uHET0epyC7arajcz34A5EZX49UZcfclIXhK2op5brJZA__" class="attachment-large size-large wp-image-981" alt="">								</a>
              <div class="banner-content">
                <p class="secondary-color">Físico-Cinestésica</p>
              
              </div>
            </div>
            <div class="col-8 col-md-3 ">
             
                  <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/8f75/0073/d6c1eddcc119cd7327d968c008ee8ae6?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fgf7xM0pQVRF5eYCQWe8w~VjkzJbW2VIkfeVxZ0kMlwQ75pT2AB0TUGwEEHwUsZPER8r0S9390Ky040sX9VmAPTRXjceoPZvNkAtJ3UUKp1rkx7-23IKd-X8IZC1LqsKPo4NaGXm05Q8LVOQ5oO8UNkxOaG6kS8uYgDe9HA9z5tW2jp2bPDuw9~akWQWdMGPz1y-uh2w0TRVB037TE-sv1zQHdQpM0HLVK~MN725MJF2FfxhadxjGUW-87uSMNG0euJFm1jKZSflkyZD-7CdSfW1t8CCQ5UGymtEhTd1Lgs1Dkw0ENQ6AEnAKO7L18NCMBObrg6unEpLPYQ2PYh-Pg__" class="attachment-large size-large wp-image-982" alt="">								</a>
              <div class="banner-content">
                <p class="secondary-color">Espacial</p>
              </div>
            </div>
            <div class="col-8 col-md-3 ">
              
                  <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/7e8e/f2fe/b11fe6ddff655c8300d04e69da6cb05a?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ee17RT8f1fA9GW9IpOTAy08P8nLynnvxWHElpWp7MdVC3qLJL3mCI50sUnWYGcUZAsx4K1DS09NqpFkW3ix-NVqfod5HTTvGoEZ63Lpgo9HsQWIGCudF1TY0HjVpjWd5IliaWMOOx8vvylEZuj-PsNGf-wvtG9vyLtXKmrPHE-sJ70C6WQGWNwoTUg7vN9Vkg78ECtWK~hmuUqyAyiBdfo3EP8s6rodAUEzBkve2uF0ypgUC8gFSnSg6uB8l~U95wkfgrpOL6FYswGtFmNmMAySH~GwlNodubjIUecF0e-Bkj2hRuoJgYECQjRwduAb~kEe3BBGHHqx-ORsn-XIb8g__" class="attachment-large size-large wp-image-980" alt="">								</a>
              <div class="banner-content">
                <p class="secondary-color">Interpessoal</p>
              </div>
            </div>
            <div class="col-8 col-md-3 pt-3">
              
              <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/c413/a2b6/26b233b08642003fb181af715afa6de0?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pL3944Wrn5X2gswUSjI4WrJtVQpfrjLPmg1dxA5zO3S~52s4k6Kq35kDGXbtCXuTrMuLHMJxY2POlaAypEMvT1hxNfziF0A1e3G-9R1Z69lumCYwL1fP4teE7FUXU7DL5K6-bipCc58JF1eAwFL4dI1-MXzlXj0gscc49I9atR2HByaSN5o8xuEqrrICmOZW8dB3x0gZlfdFcD6Wc72Wy0-8Ps9I3J8auvxmIRfYdWRuht2gpPMdPp8f0PTTM98SAdz0qOjlzZ4zzq~VTrmEhSz7ZKL4Nn3LWxyseWg8vA5tU16o5XxNY6SZoL~NT5LqoqQ8KXzg7Gf8Dy90AYQHnw__" class="attachment-large size-large wp-image-980" alt="">								</a>
          <div class="banner-content">
            <p style="margin-left: 15px ;" class="secondary-color">Intrapessoal</p>
          </div>
        </div>

        <div class="col-8 col-md-4">
              
          <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/465b/9be7/218df585655b35d4ee377493cc5bb84a?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=naYaCCP00J9ytYQ6vESdWfkE7BSXHjXaVZOq6jqS3A85rc7FNcOVRJ0grs-Q5NujfxPsPzOJZX6eB8UL8rGpUidhGcFgkYYoU~FZ-YGNSr~dldYV2rg~SEXx6rwBOCOWIzJYCDeS-L5YGq~LERJqutvOhNZ-0uwOAAg75aaNRMfrEbWcLBO8QhpKMQDBBId7p5wHbYm4jW7J39Zw~-fOUyEkz0sLIX8r2kfn9zKB8Hbop0vXlkPB6~jdCTKtBnUEDiX~LAKMzqQyHDsaGwXPjBEMkzAGxH4eYOMvI2IHLfb4wXwJEGMPXGRsf47f9DEXqjC7Pgywcu3aN-a7NnV9Ng__" class="attachment-large size-large wp-image-980" alt="">								</a>
      <div class="banner-content">
        <p class="secondary-color"><Link>Linguística</Link></p>
      </div>
    </div>
    <div class="col-8 col-md-4">
              
      <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/d2a4/5b8b/d2e869b378bece70a59753e4d98d74c8?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MHn410KmulU-iqjyIXlKxRw-y1sbO7sxl-OSY6psUunH1l6JmBsVDSvyo6bALFc49sy58P6ZdfcYP4jU5O80~onooNzp-mteIcwkTULe4jW7JUtuNA8FzCAsk3IkX-OMutyApXfwL6JGVznEGs1we0iX827gfK7VaOPhy4w~d1KfsekbGcC5yciaJB59XC3ch1bxRPj9T0rHw7hMQalyhyLQTzfCUf9h7J-rtORS0mdlROwMUyTZw-RV~EHojohWUFHWCRoOZa2A7SqFUHaGTpm1aDWH3rM4CxtRhkWAW5GWx~DNKsGPgEpn4yGPdkrDDw8hKEGMbfMmO7Aoo2W0gQ__" class="attachment-large size-large wp-image-980" alt="">								</a>
  <div class="banner-content">
    <p class="secondary-color"><Link>Lógico-Matemática</Link></p>
  </div>
</div>
<div class="col-8 col-md-4 ">
              
  <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/b02e/e11d/d65a6695a768a4dd3dd4314d80d4270e?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qP6rJ4IfAa2PLRIxPfZTsl6UMTGw-8cTIczbreoZq~DP7FM-ksGWK5~tjamfh0bXGuNvjrQD6txTP~KCIeR3y3pvLqZ8SdLqSdnLyYOV7MoteGa1xRHfJccsO~T7AbCQ0HXeltCiv3aGntZMJJny39O7aG1td4~gKwCX1IvPpCzsPo1B0W4wVcvUSJaP9OVO73D96BvC-oT0oDdBCDYCWbqNVuRFwUfS0I8ZcJaHXKmKVr5XVOyIbT5EEsC0c4dOX~EYUgbgChsnwrbhsKNY247Gu1XHyCfGV62~79sgh7pyWDjMipG9fP0lR0otr6C9X8MM4DsHyCu9byybGqEAUQ__" class="attachment-large size-large wp-image-980" alt="">								</a>
<div class="banner-content">
<p style="margin-left: 15px ;" class="secondary-color"><Link>Musical</Link></p>
</div>

</div>
<strong>Embasamento Histórico</strong>
<p>As inteligências múltiplas é uma teoria desenvolvida a partir dos anos 80 proposta pelo cientista formado em neurologia e psicologia educacional Howard Gardner, cujo objetivo era analisar e entender como funciona a inteligência humana. Segundo Gardner, cada pessoa demonstra habilidades cognitivas distintas e únicas. Ou seja, cada indivíduo tem um domínio maior em determinadas áreas do que outras.</p>
   <p><strong>O que é a Inteligência Múltipla?
  </strong>A teoria das inteligências múltiplas tem como objetivo defender que existem diferentes formas de inteligência e aprendizado. Ou seja, não existe uma pessoa mais inteligente que a outra, apenas habilidades distintas em cada área, conhecer qual inteligência o indivíduo dispõe maior habilidade possibilita promover uma educação mais personalizada e um entendimento mais completo do potencial humano, tanto na área educacional quanto na profissional. </p>
  <p><strong>DICAS PARA O TESTE VOCACIONAL </strong>Com objetivo de orientarmos você de forma eficaz na busca de possíveis áreas correlacionadas ao seu perfil, é importante você seguir estas dicas:  
    Encontre um local silencioso. 
    Responda as perguntas com atenção e máxima sinceridade. 
    Após a finalização do teste, anote as inteligências que mais são compatíveis com você. 
    Pesquise os cursos correlacionados nas inteligências compatíveis. 
     
    Boa sorte na busca de possibilidades ou reforço do desejo de possíveis campos </p>
      </div>
      <button style="margin-bottom: 10px;"  type="button" class="btn btn-success" onclick="window.location.href = 'perguntas';">Teste Vocacional</button>
    </div>
      
  </div>

          </div>
          
        </div>
    
      </div>
      

   

</body>
</html>