<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="shortcut icon" href="https://s3-alpha-sig.figma.com/img/2c33/a0f2/eb5f4a0a251eeccadb49f43de864a97c?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c7CI3r6lN0eelfUdhQqOCPyOAAY6YIHIUDXc~16dZGkUnaHR1B3vgUNx3IRNaO-cgfHz0qgUQD5HIfIYRDSJOjjXLz1HG5q8dg19cwav1Zu1CYtPPsp5-icit4XZrfjOpAdCTndxzBfMvv0zLAbWC2nxvEztx-kpfuGxlSpzb1ZBJTToanheaSAHuxoNyMyMMd6XZc8Pkn7WJrxSmIkTE6CEmrZk8~LJIpjuqO-lNcr7TYIBo5vo-S9BVOMY3tthB28auz0jMAvpi9aZllj0Ecq288ek6n2KGMQgpsSdlSW1tw1XPjldOluAIkwykRzMqpPEHJ6nIiZAZ1BAhUKK6g__" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <button type="button" class="btn btn-light" onclick="window.location.href='/'">Home</button>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>Vagas!</h1>
                <p>Confira nossas vagas! Clicando no botão abaixo, você terá acesso a oportunidades em diversas cidades do Brasil para jovens aprendizes e estagiários</p>
                    <button type="button" class="btn btn-success" onclick="window.location.href='https://itemm.com.br/vagas/'">Vagas</button>
            </div>
            <div class="col-8">
                <div class="form-group">
                    {% block content %}
                    <form action="/cadastro" method="POST">
                        <p>Nome Completo: <input type="text" name="nome" placeholder="DIGITE AQUI" /></p>
                        <label for="date">Data:</label>
                        <input type="date" name="date" id="date">
                        <p>Telefone/WhatsApp:<input type="integer" name="telefone" placeholder="(99)99999-9999" /></p>
                       
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="text" name="email" placeholder="Digite seu e-mail" />
                        </div>
                        
                        {% if error_message %}
                        <div class="alert alert-danger" role="alert" style="display: block;">
                            {{ error_message }}
                        </div>
                        
                        {% endif %}
                        
                      
                    
                        <p>Senha:<input type="password" id="senha" placeholder="DIGITE AQUI" /></p>
                        
                        
                    
                        <label for="estado">Estado:</label>
                        <select class="form-control" name="estado" id="estado" style="width: 300px;"> 
                            <option>Selecionar</option>
                            {% if estados %}
                                {% for estado in estados %}
                                    <option value="{{ estado.UF_ID }}">{{ estado.UF_NOME }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="" disabled selected>Nenhum estado disponível</option>
                            {% endif %}
                        </select>

                        <div class="form-group">
                            <label for="cidade">Cidade:</label>
                            <select class="form-control" name="cidade" id="cidade" style="width: 300px;">
                                <option>Selecionar</option>
                            </select>
                        </div>

                        <label for="sexo">Sexo:</label>
                        <select class="form-control"  style="width: 300px;" name="sexo" id="sexo">
                            <option value="">selecionar</option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Outros</option>
                        </select>
                        
                        <!-- Modal -->
                        <div><p><input type="checkbox" id="lgpd" checked="checked" name="lgpd"> Li e concordo com a LGPD - Lei Geral de Proteção de Dados.
                            <a style="font-size: 11px;" href="#" id="openModal"> Abrir termo de LGPD- Lei Geral de Portação de Dados</a>
                           
                        </p>
                          
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Documento </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Aqui você pode incluir o conteúdo do seu documento -->
                                            <iframe src="{{ url_for('static', filename='documento.pdf') }}" style="width:100%;height:500px;"></iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                            <input type="checkbox" id="lgpd" checked="checked" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim Modal -->

                        <p > <input type="checkbox" name="confirm" id="confirm"/> Autorizo o envio de e-mails com vagas correspondentes ao meu perfil.</p>
                    </div>
                    <input class="btn btn-success" type="submit" id="submit" value="Concluir cadastro e descobrir resultado do teste" disabled />
                </form>
                {% endblock %}
            </div>
        </div>
       
    </div>
                

</div>

  <!-- Script para dropdown  cidade/estado -->  
<script>
document.getElementById('estado').addEventListener('change', function() {
        var estadoId = this.value;
        fetch(`/cidade/${estadoId}`)
            .then(response => response.json())
            .then(data => {
                var cidadeSelect = document.getElementById('cidade');
                cidadeSelect.innerHTML = ''; // Limpa as opções existentes
                data.cidadeestado.forEach(function(cidade) {
                    var option = document.createElement('option');
                    option.value = cidade.id;
                    option.text = cidade.name;
                    cidadeSelect.appendChild(option);
                });
            });
    });


</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Intercepta o envio do formulário
        document.querySelector('form').addEventListener('submit', function(event) {
            // Impede o envio padrão do formulário
            event.preventDefault();

            // Obtém os dados do formulário
            var formData = new FormData(this);

            // Envia os dados para o servidor
            fetch('/cadastro', {
                method: 'POST',
                body: formData
            })
            .then(function(response) {
                // Verifica se o envio foi bem-sucedido
                if (response.ok) {
                    // Função para recuperar parâmetro da URL
                    function getParameterByName(name, url) {
                        if (!url) url = window.location.href;
                        name = name.replace(/[\[\]]/g, "\\$&");
                        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                            results = regex.exec(url);
                        if (!results) return null;
                        if (!results[2]) return '';
                        return decodeURIComponent(results[2].replace(/\+/g, " "));
                    }
    
                    // Obtém o parâmetro 'soma' da URL
                    var aptidoes = JSON.parse(getParameterByName('aptidoes'));
                    
                    // Se 'somaRespostas' não for nulo, faça algo com ele
                    if (aptidoes !== null) {
                        // Redireciona para a página de resultados
                        window.location.href = "/resultados?soma=" + "&aptidoes=" + JSON.stringify(aptidoes)
                    } else {
                        console.error('Erro: somaRespostas não definido na URL.');
                    }
                } else {
                    // Exibe uma mensagem de erro caso necessário
                    console.error('Erro ao enviar formulário:', response.statusText);
                }
            })
            .catch(function(error) {
                console.error('Erro ao enviar formulário:', error);
            });
        });
    });
</script>
    
    

  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script para abrir o modal -->
<script>
    $(document).ready(function(){
      $("#openModal").click(function(){
        $("#myModal").modal('show');
      });
    });
  </script>



  <script>
    
  // Script para habilitar/desabilitar o botão de envio com base na seleção do checkbox LGPD
    $(document).ready(function(){
      $("#openModal").click(function(){
        $("#myModal").modal('show');
      });

      // Definir inicialmente o estado do checkbox LGPD como não marcado
      $("#lgpd").prop("checked", false);

      // Script para habilitar/desabilitar o botão de envio com base na seleção do checkbox LGPD
      $("#lgpd").change(function(){
          var isChecked = $(this).prop("checked");
          $("#submit").prop("disabled", !isChecked);
      });
    });
</script>




</body>
</html>
