<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <p>Qual e-mail cadastrado?</p>
    <p>Primeiro login? <button  type="button" class="btn btn-success" onclick="window.location.href = 'plogin';">Clique aqui</button></p>
    <label>Email:</label>
    <input type="email">
    <label>Senha:</label>
    <input type="text">
    <button  type="button" class="btn btn-success" onclick="window.location.href = 'resultados';">Send</button>
    <a href="/plogin">Esqueci minha senha</a>
</body>
</html>