<!DOCTYPE html>
<html>
<head>
    <title>Avaliação de Respostas</title>
    <script src="//qiao.github.io/ProgressCircle.js/ProgressCircle.min.js"></script>
    <style>
        /* Estilos CSS */
        #grafico_progresso {
            width: 400px; /* Definir uma largura para o canvas */
            height: 400px; /* Definir uma altura para o canvas */
        }
    </style>
    <script>
        var perguntas = [
            { pergunta: "Eu não gosto de mudanças inesperadas.", valor: 0 },
            { pergunta: "Eu não gosto de pressão.", valor: 0 },
            { pergunta: "Eu sou multi-tarefas.", valor: 0 }
        ];

        var perguntaAtualIndex = 0;
        var somaRespostas = 0;
        var progresso = 0;
        var texto = "";
        var circle = null;

        function botao_clicado(resposta) {
            somaRespostas += parseInt(resposta);

            var perguntaAtual = perguntas[perguntaAtualIndex];
            perguntaAtual.valor = parseInt(resposta);

            perguntaAtualIndex++;
            if (perguntaAtualIndex < perguntas.length) {
                exibir_pergunta();
                addProgress();
            } else {
                window.location.href = "/login?soma=" + somaRespostas;
            }
            
        }// fazer o mesmo aqui para cadastro

        function votar_pergunta_anterior() {
            if (perguntaAtualIndex > 0) {
                perguntaAtualIndex--;
                var perguntaAnterior = perguntas[perguntaAtualIndex];
                var valorRespostaAnterior = perguntaAnterior.valor;
                somaRespostas -= valorRespostaAnterior;
                exibir_pergunta();
                regressarProgresso();
            } else {
                console.log("Não há perguntas anteriores.");
            }
        }

        function exibir_pergunta() {
            var perguntaAtual = perguntas[perguntaAtualIndex];
          

            document.getElementById("pergunta").innerHTML = `
                <p>${perguntaAtual.pergunta}</p>
               
                <input type="radio" name="resposta" value="0"> 0
                <input type="radio" name="resposta" value="1"> 1
                <input type="radio" name="resposta" value="2"> 2
                <input type="radio" name="resposta" value="3"> 3
                <input type="radio" name="resposta" value="4"> 4
                <input type="radio" name="resposta" value="5"> 5
                <input type="radio" name="resposta" value="6"> 6
                <br>
                <button type="button" onclick="votar_pergunta_anterior()">Voltar</button>
                <button type="button" onclick="botao_clicado(document.querySelector('input[name=resposta]:checked').value)">Avançar</button>
            `;
        }

        function criar_grafico_progresso() {
    var myCanvas = document.getElementById('grafico_progresso');

    if (myCanvas) {
        circle = new ProgressCircle({
            canvas: myCanvas,
            minRadius: 30
        });

        circle.addEntry({
            fillColor: 'rgba(152, 155, 225, 1)',
            progressListener: function() {
                return progresso;
            },
            infoListener: function() {
                return texto;
            },
        });

        circle.start(35); // Ajustado para um total de 35 tarefas
    } else {
        console.error("O elemento 'grafico_progresso' não foi encontrado.");
    }
}

function addProgress() {
    progresso += 0.0286; // Ajustado para um total de 35 tarefas
    texto ="Respondidas: "+ Math.round(progresso * 35) + "/35"; // Ajustado para exibir o número atual da tarefa de um total

    atualizar_grafico_progresso(); // Atualiza o gráfico de progresso
}

function regressarProgresso() {
    progresso -= 0.0286; // Ajustado para um total de 35 tarefas
    texto = "Respondidas: "+ Math.round(progresso * 35) + "/35"; // Ajustado para exibir o número atual da tarefa de um total

    atualizar_grafico_progresso(); // Atualiza o gráfico de progresso
}

function atualizar_grafico_progresso() {

   var somaRespostasTexto = "Respondidas: " + Math.round(progresso * 35) + "/35"; 

   if (circle && circle.entries && circle.entries[0]) {
       circle.entries[0].progress = progresso;
       circle.entries[0].info = somaRespostasTexto;
   }
}

        window.onload = function() {
            exibir_pergunta();
            criar_grafico_progresso();
        };
    </script>
</head>
<body>
    <div>
        <canvas id="grafico_progresso"></canvas>
    </div>

    <div id="pergunta">
    </div>
</body>
</html>
