<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <p>Qual e-mail cadastrado?</p>
    <form id="emailForm">
        <label>Email:</label>
        <input type="email" id="emailInput" name="email">
        <button type="button" id="sendButton">Send</button>
    </form>
    <p id="message"></p>

    <script>
        document.getElementById("sendButton").addEventListener("click", function() {
            var email = document.getElementById("emailInput").value;

            // Envia um pedido POST para o servidor Flask
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/send_email", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("message").innerText = "Um link para criação de senha foi enviado para o seu e-mail.";
                }
            };
            xhr.send(JSON.stringify({ "email": email }));
        });
    </script>
</body>
</html>
