<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="https://s3-alpha-sig.figma.com/img/2c33/a0f2/eb5f4a0a251eeccadb49f43de864a97c?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c7CI3r6lN0eelfUdhQqOCPyOAAY6YIHIUDXc~16dZGkUnaHR1B3vgUNx3IRNaO-cgfHz0qgUQD5HIfIYRDSJOjjXLz1HG5q8dg19cwav1Zu1CYtPPsp5-icit4XZrfjOpAdCTndxzBfMvv0zLAbWC2nxvEztx-kpfuGxlSpzb1ZBJTToanheaSAHuxoNyMyMMd6XZc8Pkn7WJrxSmIkTE6CEmrZk8~LJIpjuqO-lNcr7TYIBo5vo-S9BVOMY3tthB28auz0jMAvpi9aZllj0Ecq288ek6n2KGMQgpsSdlSW1tw1XPjldOluAIkwykRzMqpPEHJ6nIiZAZ1BAhUKK6g__" type="image/x-icon" />
</head>
<body>
    <p>Qual e-mail cadastrado?</p>
    <form id="emailForm">
        <label>Email:</label>
        <input placeholder="exemplo@exemplo.com.br" type="email" id="emailInput" name="email">
        <button type="button" id="sendButton">enviar</button>
    </form>
    <p id="message"></p>

    <script>
        document.getElementById("sendButton").addEventListener("click", function() {
            var email = document.getElementById("emailInput").value;

            // Envia um pedido POST para o servidor Flask
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/send_email", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("message").innerText = "Um link para criação de senha foi enviado para o seu e-mail.";
                }
            };
            xhr.send(JSON.stringify({ "email": email }));
        });
    </script>
</body>
</html>
