<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <style>
      .container {
        margin-bottom: 20px;
      }
    </style>
    <link rel="shortcut icon" href="https://s3-alpha-sig.figma.com/img/2c33/a0f2/eb5f4a0a251eeccadb49f43de864a97c?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c7CI3r6lN0eelfUdhQqOCPyOAAY6YIHIUDXc~16dZGkUnaHR1B3vgUNx3IRNaO-cgfHz0qgUQD5HIfIYRDSJOjjXLz1HG5q8dg19cwav1Zu1CYtPPsp5-icit4XZrfjOpAdCTndxzBfMvv0zLAbWC2nxvEztx-kpfuGxlSpzb1ZBJTToanheaSAHuxoNyMyMMd6XZc8Pkn7WJrxSmIkTE6CEmrZk8~LJIpjuqO-lNcr7TYIBo5vo-S9BVOMY3tthB28auz0jMAvpi9aZllj0Ecq288ek6n2KGMQgpsSdlSW1tw1XPjldOluAIkwykRzMqpPEHJ6nIiZAZ1BAhUKK6g__" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <!-- Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  />


   <!-- JavaScript Bootstrap -->
   <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
     crossorigin="anonymous"
   ></script>

</head>
<body>
  <button type="button" class="btn btn-light" onclick="window.location.href='/'">Home</button>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>Confira o resultado do seu teste!</h1>
        <h1>Suas maiores características são:</h1>
        <p style="margin-top: 30px; text-align: justify;">O teste identificou algumas perguntas que abordam vários aspectos de afinidades. Com base nas suas respostas, apontamos as áreas que mais se encaixam com o seu perfil. Ressaltamos a importância da sinceridade ao responder para obter resultados mais precisos.</p>
        <button  type="button" class="btn btn-secondary" onclick="window.location.href = 'perguntas';">REFAZER O TESTE</button>
      </div>
      <div class="col-5">
        <img decoding="async" width="75%" height="100%" src="https://s3-alpha-sig.figma.com/img/074b/8e4e/06a1bf7ea61a7b4ecc5535598683bd81?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qM84FsNm~VEa-DU5LY1-z~6eBkSe6xxr9d915fYXArSIr1mgSmLVdi30bTIN8H3sdjn~i70qD1lgTUQmkt7QJ3YPL6ecRAP6C2AhRkP5sIxnNHUr3Zo2Y4enMvrrcw-wu0Aslc7bMbx36CzH6Pi2psRFBL3cm3o831SBu5JCBzB5Cd4PHQKueKedHXInYwQt3uw-4kRU9jCWgqhhSmAhP1-kCN2-~jGo7Nati8z8Oft0WpS1JqT13VGtGUbs5ax-ZZaW4rT1UbsxwcEDPxXtcKqUrtTMFoNCXf2dbQ4l8BoQfey~xRpvQn9HY-Obcry7kQo8SbqKALv99uFixqkoVQ__" class="attachment-large size-large wp-image-981" alt="">								</a>
      </div>
      <div class="col-12">
        <div id="resultadoSoma"></div>
        <div id="resultadoAptidoes"></div>
      <div style="margin-top: 15px;"><canvas id="grafico" width="200" height="35"></canvas></div>
      </div>
      <h2 style="margin-top: 30px; margin-bottom: 30px;"> <strong >Saiba mais sobre as Múltiplas Inteligências:</strong></h2>
    </div>
 
    <div class="container " id="Cinestésica">
      <div class="row">
        <div class="col-8">
          <strong>INTELGIÊNCIA FÍSICO-CINESTÉTICA </strong>
          <p>A Inteligência físico-cinestésica está presente em pessoas que possuem equilíbrio, velocidade, flexibilidade e expressão corporal. Sua principal habilidade é a capacidade de controlar os movimentos do corpo, coordenação motora fina e motora grossa. Dentre as profissões que se alinham a esse perfil estão: Atleta, dançarino(a), fisioterapeuta, cirurgião(ã), bombeiro(a), especialista em robótica, operador de máquinas CNC, técnico em manutenção de sistemas automatizados e mecânico industrial.</p>
        </div>
        <div class="col-4">
          <img decoding="async" style="border-radius: 10px;" width="100" height="100" src="https://s3-alpha-sig.figma.com/img/93bc/ecce/fdfa7ad55b950be9398b527ecb065262?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Y7vhzXzVlRCWE67YVyFHJlgIOP4oDEuiprQ--JlEEuchsRx~vmMS18uyL8RKZbo-~dnc9Z7h2AWpnQTPYEOSscPlXGtvPDJHkcrR59Ewd6DI4LLTQti6aYEAGnbRMBH6pF7KW0bPws72HGsFW~9u~UWVBjkWRTN~iX6IZEDHibm4PEb0xRzNA7NAFENcfvwyvcRhndnc4xfION7iHL2ozZo3ZTQGry9rLjWxbiqbEkdbIkuCEHTAwXa6J46IHf-zFo9ZTkWvPvivrg7fTiGcY-mFBq9vALrsncmg28jR92uHET0epyC7arajcz34A5EZX49UZcfclIXhK2op5brJZA__" class="attachment-large size-large wp-image-981" alt="">
        </div>
      </div>
    </div>
    
    <div class="container" id="Espacial">
      <div class="row" >
        <div class="col-8">
          <strong>INTELIGÊNCIA ESPACIAL </strong>
          <p>A Inteligência Espacial está relacionada a pessoas com uma boa percepção visual e espacial, ou seja, com habilidade de interpretar e criar imagens através da cor, da forma e da textura. Essa inteligência pode ser definida como a capacidade de entender o mundo de forma tridimensional, física e mental. Sua maior habilidade é a criatividade. Dentre as profissões que se alinham a esse perfil estão: Arquitetos; Design Gráfico, Games e de Interiores; Esteticistas; Design de Moda; Jogos Digitais; Engenheiro de Produção; Fotógrafos; Astrônomos; Artes Visuais.</p>
        </div>
        <div class="col-4">
          <img decoding="async" style="border-radius: 10px;" width="100" height="100" src="https://s3-alpha-sig.figma.com/img/8f75/0073/d6c1eddcc119cd7327d968c008ee8ae6?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fgf7xM0pQVRF5eYCQWe8w~VjkzJbW2VIkfeVxZ0kMlwQ75pT2AB0TUGwEEHwUsZPER8r0S9390Ky040sX9VmAPTRXjceoPZvNkAtJ3UUKp1rkx7-23IKd-X8IZC1LqsKPo4NaGXm05Q8LVOQ5oO8UNkxOaG6kS8uYgDe9HA9z5tW2jp2bPDuw9~akWQWdMGPz1y-uh2w0TRVB037TE-sv1zQHdQpM0HLVK~MN725MJF2FfxhadxjGUW-87uSMNG0euJFm1jKZSflkyZD-7CdSfW1t8CCQ5UGymtEhTd1Lgs1Dkw0ENQ6AEnAKO7L18NCMBObrg6unEpLPYQ2PYh-Pg__" class="attachment-large size-large wp-image-982" alt="">
        </div>
      </div>
    </div>
    
    <div class="container" id="Interpessoal">
      <div class="row" >
        <div class="col-8">
          <strong>INTELIGÊNCIA INTERPESSOAL </strong>
          <p>A Inteligência Interpessoal está relacionada ao domínio da comunicação e persuasão. Pessoas com essa habilidade possui a facilidade de compreender o outro através do tom de voz e expressões faciais, além de possuir o poder de se expressar e interagir em público com facilidade. A empatia é uma das maiores qualidades dessa inteligência, assim como o espírito de liderança em situações em grupo. Dentre as profissões que se alinham a esse perfil estão: Gerente de Projetos; Psicólogos; Advogados; Assistentes Sociais; Médicos; Professores; Consultor de Negócios; Gestão de Recursos Humanos; Relações Públicas.</p>
        </div>
        <div class="col-4">
          <img decoding="async" style="border-radius: 10px;" width="100" height="100" src="https://s3-alpha-sig.figma.com/img/7e8e/f2fe/b11fe6ddff655c8300d04e69da6cb05a?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ee17RT8f1fA9GW9IpOTAy08P8nLynnvxWHElpWp7MdVC3qLJL3mCI50sUnWYGcUZAsx4K1DS09NqpFkW3ix-NVqfod5HTTvGoEZ63Lpgo9HsQWIGCudF1TY0HjVpjWd5IliaWMOOx8vvylEZuj-PsNGf-wvtG9vyLtXKmrPHE-sJ70C6WQGWNwoTUg7vN9Vkg78ECtWK~hmuUqyAyiBdfo3EP8s6rodAUEzBkve2uF0ypgUC8gFSnSg6uB8l~U95wkfgrpOL6FYswGtFmNmMAySH~GwlNodubjIUecF0e-Bkj2hRuoJgYECQjRwduAb~kEe3BBGHHqx-ORsn-XIb8g__" class="attachment-large size-large wp-image-980" alt="">
        </div>
      </div>
    </div>

    <div class="container" id="Intrapessoal">
      <div class="row" >
        <div class="col-8">
          <strong>INTELIGÊNCIA INTRAPESSOAL </strong>
          <p>A inteligência intrapessoal está relacionada a pessoa que possui o autoconhecimento, ou seja, a conexão consigo mesmo. São pessoas que entendem seus próprios temperamentos, desejos, motivações e capacidades, usando-as em seu favor e bem-estar. Essa inteligência facilita a entrada da pessoa em qualquer campo profissional, pois ela beneficia suas relações sociais, levando-as a tomarem decisões certas e coerentes. As pessoas que possuem a inteligência intrapessoal são organizadas, ambiciosas com seus objetivos, disciplinadas e com alto foco e concentração nas atividades que realiza.  

            Dentre as profissões que se alinham a esse perfil estão: 
            
            Administração; Marketing; Coaching e Mentoring; Psicólogos Organizacionais; Jornalistas; Publicitários; Advogados; Assistente Sociais; Advogados.</p>
        </div>
        <div class="col-4">
          <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/c413/a2b6/26b233b08642003fb181af715afa6de0?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pL3944Wrn5X2gswUSjI4WrJtVQpfrjLPmg1dxA5zO3S~52s4k6Kq35kDGXbtCXuTrMuLHMJxY2POlaAypEMvT1hxNfziF0A1e3G-9R1Z69lumCYwL1fP4teE7FUXU7DL5K6-bipCc58JF1eAwFL4dI1-MXzlXj0gscc49I9atR2HByaSN5o8xuEqrrICmOZW8dB3x0gZlfdFcD6Wc72Wy0-8Ps9I3J8auvxmIRfYdWRuht2gpPMdPp8f0PTTM98SAdz0qOjlzZ4zzq~VTrmEhSz7ZKL4Nn3LWxyseWg8vA5tU16o5XxNY6SZoL~NT5LqoqQ8KXzg7Gf8Dy90AYQHnw__" class="attachment-large size-large wp-image-980" alt="">								</a>
        </div>
      </div>
    </div>
    
    <div class="container" id="Linguística">
      <div class="row" >
        <div class="col-8">
          <strong>INTELIGÊNCIA LINGUÍSTICA </strong>
          <p>A Inteligência Linguística está relacionada a pessoa que consegue se comunicar, aprender novas línguas e fazer uso da linguagem verbal e escrita de maneira diferenciada e tem domínio da língua de caráter morfológico, sintático e semântico. São pessoas com capacidade de persuasão. 

            Dentre as profissões que se alinham a esse perfil estão: 
            
            escritor(a), jornalista, advogado(a), professor(a) de línguas, tradutor(a), escritor técnico, redator de conteúdo digital, gerente de mídia social, especialista em SEO. </p>
        </div>
        <div class="col-4">
          <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/465b/9be7/218df585655b35d4ee377493cc5bb84a?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VaCeRclEufT1pGPl~c8kfV6Vn4IVLBifDfFer6NxCh~yOWscl1ggMDiaOwKOOi1xn3Xf7o654-jtXbBHpM93UIQWZO7Oodv5pZ98NFat4xY0wv-EKrO6js3cuGKTB0mCws7NcpJO-ShA90liR~exWVbH1v8Q6sP~vflwBklj3QMUcuGwjeohPH-yNCaUFDgB6anLSondczY8wZWil-pbTNAd3FGzTo6SWSam7DEadznHTGQceN5dacrFn9IlM3jKBJLAd1McBhuZYF3J-pd0NGim9WaMT2rnG67UzOlbsxALMbYkMuxLnkmrgXZdkKliVuJnmPQl11472EbRFXkS3Q__" class="attachment-large size-large wp-image-980" alt="">								</a>
    </div>
  </div>
</div>

    <div class="container" id="Musical">
      <div class="row" >
        <div class="col-8">
          <strong>INTELIGÊNCIA MUSICAL </strong>
          <p>A Inteligência Musical demonstra grande habilidade de reconhecer, aprender, interpretar e diferenciar notas, timbres, melodias e ritmos. Essa inteligência está muito presente em pessoas que estão envolvidas com música, dança, artistas e produtores musicais. 

            Dentre as profissões que se alinham a esse perfil estão: 
            
            compositor(a), cantor(a), instrumentista, professor(a) de música, produtor(a) musical, engenheiro de som para produção audiovisual, desenvolvedor de software de música e especialista em experiência do usuário para plataformas de música online. </p>
        </div>
        <div class="col-4">
          <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/b02e/e11d/d65a6695a768a4dd3dd4314d80d4270e?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qP6rJ4IfAa2PLRIxPfZTsl6UMTGw-8cTIczbreoZq~DP7FM-ksGWK5~tjamfh0bXGuNvjrQD6txTP~KCIeR3y3pvLqZ8SdLqSdnLyYOV7MoteGa1xRHfJccsO~T7AbCQ0HXeltCiv3aGntZMJJny39O7aG1td4~gKwCX1IvPpCzsPo1B0W4wVcvUSJaP9OVO73D96BvC-oT0oDdBCDYCWbqNVuRFwUfS0I8ZcJaHXKmKVr5XVOyIbT5EEsC0c4dOX~EYUgbgChsnwrbhsKNY247Gu1XHyCfGV62~79sgh7pyWDjMipG9fP0lR0otr6C9X8MM4DsHyCu9byybGqEAUQ__" class="attachment-large size-large wp-image-980" alt="">								</a>
        </div>
      </div>
    </div>

    <div class="container" id="Matemática">
      <div class="row" >
        <div class="col-8">
          <strong>INTELIGÊNCIA LÓGICO-MATEMÁTICA </strong>
          <p>Inteligência Lógico-Matemática 

            A Inteligência Lógico-Matemática está ligada a capacidade que o ser humano tem para raciocínios dedutivos e conceitos matemáticos com elevada facilidade para resolver cálculos gerando destaque nas áreas de exatas e programação. Possuem também aptidão em resolução de problemas, da identificação de padrões e verificação de hipóteses. 
            
            Dentre as profissões que se alinham a esse perfil estão: 
            
            cientista, engenheiro(a), programador(a), matemático(a), analista financeiro(a), engenheiro de dados, cientista de dados, especialista em inteligência artificial e desenvolvedor de software. 
            
              </p>
        </div>
        <div class="col-4">
          <img decoding="async" style="border-radius: 10px;"  width="100" height="100" src="https://s3-alpha-sig.figma.com/img/d2a4/5b8b/d2e869b378bece70a59753e4d98d74c8?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MHn410KmulU-iqjyIXlKxRw-y1sbO7sxl-OSY6psUunH1l6JmBsVDSvyo6bALFc49sy58P6ZdfcYP4jU5O80~onooNzp-mteIcwkTULe4jW7JUtuNA8FzCAsk3IkX-OMutyApXfwL6JGVznEGs1we0iX827gfK7VaOPhy4w~d1KfsekbGcC5yciaJB59XC3ch1bxRPj9T0rHw7hMQalyhyLQTzfCUf9h7J-rtORS0mdlROwMUyTZw-RV~EHojohWUFHWCRoOZa2A7SqFUHaGTpm1aDWH3rM4CxtRhkWAW5GWx~DNKsGPgEpn4yGPdkrDDw8hKEGMbfMmO7Aoo2W0gQ__" class="attachment-large size-large wp-image-980" alt="">								</a>
          <div class="banner-content">
        </div>
      </div>
    </div>
  </div>
  <button id="btnOutrasInteligencias">Mostrar outras inteligências</button>


   
<script>
  // Função para recuperar parâmetro da URL
  function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Obtém as aptidões da URL
        var aptidoes = JSON.parse(getParameterByName('aptidoes'));

        // Cria uma matriz de objetos com nome e resultado de cada aptidão
        var aptidoesArray = Object.entries(aptidoes).map(([nome, resultado]) => ({ nome, resultado }));

        // Classifica as aptidões com base no resultado (em ordem decrescente)
        aptidoesArray.sort((a, b) => b.resultado - a.resultado);

        // Constrói o HTML do ranking das aptidões
        var resultadoAptidoesHtml = '<h2>Teste Vocacional:</h2><br><p>Resultado do teste:</p>';

        // Cria array de strings HTML com os resultados das aptidões
        aptidoesArray.forEach(aptidao => {
            resultadoAptidoesHtml += '<p>' + aptidao.nome + ': ' + aptidao.resultado + '</p>';
        });

        // Reorganiza os containers com base no ranking das aptidões
        var divPai = document.querySelector('.row');
        aptidoesArray.forEach(aptidao => {
            var container = document.getElementById(aptidao.nome);
            if (container) {
                divPai.appendChild(container);
            }
        });

        // Função para ocultar as divs das 4 últimas inteligências
        function hideOtherIntelligences() {
            aptidoesArray.slice(3).forEach(aptidao => {
                var container = document.getElementById(aptidao.nome);
                if (container) {
                    container.style.display = 'none'; // Oculta a div
                }
            });
        }

        // Função para mostrar as divs das 4 últimas inteligências
        function showOtherIntelligences() {
            aptidoesArray.slice(3).forEach(aptidao => {
                var container = document.getElementById(aptidao.nome);
                if (container) {
                    container.style.display = 'block'; // Mostra a div
                }
            });
        }

        // Oculta as divs das 4 últimas inteligências ao carregar a página
        hideOtherIntelligences();

        // Adiciona evento de clique ao botão "Outras Inteligências"
        document.getElementById('btnOutrasInteligencias').addEventListener('click', function() {
            var buttonText = this.textContent;
            if (buttonText === 'Mostrar outras inteligências') {
                showOtherIntelligences(); // Mostra as divs das outras inteligências
                this.textContent = 'Ocultar Inteligências'; // Altera o texto do botão
            } else {
                hideOtherIntelligences(); // Oculta as divs das outras inteligências
                this.textContent = 'Mostrar outras inteligências'; // Altera o texto do botão
            }
        });

// Exibe o ranking na div resultadoAptidoes
//document.getElementById('resultadoAptidoes').innerHTML = resultadoAptidoesHtml;

// Gráfico de coluna

// Objeto para armazenar a soma total das respostas para cada inteligência
var somaPorInteligencia = {};

// Calcula a soma total das respostas para cada inteligência
for (var questao in aptidoes) {
    var inteligencia = questao.split('_')[0]; // Obtém o nome da inteligência da questão
    if (!somaPorInteligencia[inteligencia]) {
        somaPorInteligencia[inteligencia] = 0;
    }
    somaPorInteligencia[inteligencia] += aptidoes[questao];
}

    // Prepara os dados para o gráfico
    var labels = Object.keys(somaPorInteligencia);
var valores = labels.map(inteligencia => (somaPorInteligencia[inteligencia] * 100) / 30);

// Configuração do gráfico
var ctx = document.getElementById('grafico').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Porcentagem das Respostas por Inteligência',
            data: valores,
            backgroundColor: ['#FF5733', '#33FF57', '#5733FF', '#FFFF33', '#33FFFF'], // Cores diferentes para cada barra
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    callback: function(value) {
                        return value + '%'; // Adiciona o símbolo de porcentagem ao eixo y
                    }
                }
            }]
        },
        plugins: {
            datalabels: {
                anchor: 'center',
                align: 'center',
                formatter: function(value) {
                    return value + '%'; // Mostra a porcentagem dentro das colunas
                }
            }
        }
    }
});
</script>

 
    

 <section  id="cursos">
  <div class="container" id="featured-container">
    <div class="col-12">
     
      <h2 style="margin-top: 30px;"  class="subtitle secondary-color">
       <strong> Conheça nossos cursos:</strong>
      </h2>
      <p>Acesse os cursos clicando nos quadrantes abaixo ou consulte todos os cursos disponíveis em nossa plataforma</p>
    </div>
    <div class="col-12" id="featured-images">
      <div class="row g-4">
        <div class="col-12 col-md-4">
          <a href="https://itemm.ead.guru/ead/enroll/projeto-trilha/">
              <img decoding="async" width="198" height="207" src="https://itemm.com.br/wp-content/uploads/2023/08/p1_trilha2.png" class="attachment-large size-large wp-image-981" alt="">								</a>
          <div class="banner-content">
            <p class="secondary-color">Educação Financeira</p>
          
          </div>
        </div>
        <div class="col-12 col-md-4">
          <a href="https://itemm.ead.guru/ead/enroll/projeto-trilha-pacote-office/">
              <img decoding="async" width="202" height="207" src="https://itemm.com.br/wp-content/uploads/2023/08/p2_trilha.png" class="attachment-large size-large wp-image-982" alt="">								</a>
          <div class="banner-content">
            <p class="secondary-color">Pacote Office</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <a href="https://itemm.ead.guru/ead/enroll/projeto-trilha-itemm-pacote-office/">
              <img decoding="async" width="198" height="207" src="https://itemm.com.br/wp-content/uploads/2023/08/p1_office_libras.png" class="attachment-large size-large wp-image-980" alt="">								</a>
          <div class="banner-content">
            <p class="secondary-color">Libras</p>
          </div>
        </div>
   
      </div>
      <button type="button" class="btn btn-success" onclick="window.location.href='https://itemm.com.br/projeto-trilha/'">Ver todos os cursos</button>

      

    </div>
<div class="container pt-4">
<div class="row">
<div class="col-6">
<img decoding="async" width="202" height="207" src="https://th.bing.com/th/id/OIP.6-DX0kbIJBEUhkbOy8YRrAAAAA?rs=1&pid=ImgDetMain" class="attachment-large size-large wp-image-982" alt="">								</a>
<h1>VAGAS!</h1>
<p>Confira nossas vagas!</p>
<p>Confira nossas vagas! Clicando no botão abaixo, você terá acesso a oportunidades em diversas cidades do Brasil para jovens aprendizes e estagiários.</p>
<button type="button" class="btn btn-success" onclick="window.location.href='https://itemm.com.br/vagas/'">Vagas</button>

</div>
<div class="col-6 ">
<button type="button" class="btn btn-success" onclick="window.location.href='/home'">Home</button>
</div>
</div>
</div>
  </div>
 
</body>

</html>
